en:
  withdraw_channel:
    <%= name.underscore %>:
      key: 块链
      title: <%= name %> Withdraw
      intro: Withdraw the balance of <%= name %> to your wallet.
      latency: 30 minutes
      transfer: 人工处理
      go: Manual

  activerecord:
    models:
      withdraws/<%= name.underscore %>: Bank Transfer
    attributes:
      withdraws/<%= name.underscore %>:
        id: Transaction Id
        member_name: User
        currency_obj_key_text: Currency
        state_and_action: State / Action
        fund_extra_text: Withdraw
        fund_extra: Withdraw
        fund_source: Withdraw
        fund_uid: Refund
        created_at: Time
        sum: Quantity
        amount: Amount
        remark: Remark
        fee: Processing Fees
    errors:
      models:
        withdraws/<%= name.underscore %>:
          attributes:
            sum:
              poor: 账户余额不足，请核对。
              greater_than: 小于单笔最低限额。
            fund_uid:
              blank: 请输入您的提现地址。
              invalid: 无效的提现地址，请核对。
              ismine: 提现地址为系统所有，请更换其他地址。

  withdraws/<%= name.underscore %>:
    aasm_state:
      submitting: 待确认
      submitted: 待校验
      rejected: 已驳回
      accepted: 已提交
      suspect: 异常
      processing: 受理中
      coin_ready: 准备中
      coin_done: 完毕
      done: 提现成功
      almost_done: 发送中
      canceled: 已撤销
      failed: 提现出错

  private:
    withdraws:
      <%= name.underscore.pluralize %>:
        destroy:
          notice: 提现申请已被撤销，冻结余额已返还到您的账户
        update:
          notice: 提现申请成功，我们会尽快处理您的请求
          alert_two_factor: 两步验证错误
        new:
          submit: 提交
          allin: 全部提取
          fund_uid: 使用已有已有提现地址或输入新地址
          fund_extra: 选择开户行

  admin:
    withdraws:
      <%= name.underscore.pluralize %>:
        index:
          one: 待处理提现订单
          all: 二十四小时内订单
          empty: 无任何数据
        show:
          process: 受理
          succeed: 提现
          reject: 驳回
          succeed_confirm: 确定处理提现？
          reject_confirm: 确定驳回提现？
          withdraw: <%= name %> 提现

  simple_form:
    labels:
      withdraw:
        <%= name.underscore %>:
          fee: 手续费
          sum: 提取金额
          fund_uid: 提现地址
          fund_extra: 提现标签
          account_balance: 可用金额
          member_name: 账户名
    placeholders:
      withdraw:
        <%= name.underscore %>:
          sum: 最低 0.001
          fund_extra: 填写常用标签（可选）
    hints:
      withdraw:
        <%= name.underscore %>:
          sum: "<a target='_balance' href='#'>Fee Description</a>"

  guides:
    private:
      withdraws:
        <%= name.underscore.pluralize %>:
          panel: <%= name %> Withdraw
          new:
            intro: Select Bank and enter the account number and withdraw the amount to complete the submission. Your bank account name must match your real name.
            default-panel: History
          create:
            intro: Select Bank and enter the account number and withdraw the amount to complete the submission. Your bank account name must match your real name.
            default-panel: History
          edit:
            intro: Select Bank and enter the account number and withdraw the amount to complete the submission. Your bank account name must match your real name.
